@page
@model VocabularyTrainer.Pages.Words.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Word</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Word.DeckId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.Word.DeckId, new SelectList(Model.decks, "Value", "Text"), "-Select-", htmlAttributes: new { @class = "form-control", @id = "Word_DeckId" })

                @*<select asp-for="Word.DeckId" class="form-control" asp-items="ViewBag.DeckId">
                    <option value="">-Select-</option>
                </select>*@
                <span asp-validation-for="Word.DeckId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Word.Singular" class="control-label"></label>
                <input asp-for="Word.Singular" class="form-control" />
                <span asp-validation-for="Word.Singular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Word.Plural" class="control-label"></label>
                <input asp-for="Word.Plural" class="form-control" />
                <span asp-validation-for="Word.Plural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Word.Meaning" class="control-label"></label>
                <input asp-for="Word.Meaning" class="form-control" />
                <span asp-validation-for="Word.Meaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Word.ArticleId" class="control-label"></label>
                <select asp-for="Word.ArticleId" class="form-control" asp-items="ViewBag.ArticleId">
                    <option value="">-Not a noun-</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
